In [8]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\zr\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\zr\appdata\roaming\python\python314\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zr\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\zr\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\zr\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\zr\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv("DISASTERS.csv")

In [11]:
print(df.head())

   Year   Seq Glide Disaster Group Disaster Subgroup      Disaster Type  \
0  1900  9002   NaN        Natural    Climatological            Drought
1  1900  9001   NaN        Natural    Climatological            Drought
2  1902    12   NaN        Natural       Geophysical         Earthquake
3  1902     3   NaN        Natural       Geophysical  Volcanic activity
4  1902    10   NaN        Natural       Geophysical  Volcanic activity

  Disaster Subtype Disaster Subsubtype   Event Name     Country  ISO  \
0          Drought                 NaN          NaN  Cabo Verde  CPV
1          Drought                 NaN          NaN       India  IND
2  Ground movement                 NaN          NaN   Guatemala  GTM
3         Ash fall                 NaN  Santa Maria   Guatemala  GTM
4         Ash fall                 NaN  Santa Maria   Guatemala  GTM

            Region Continent                   Location Origin  \
0   Western Africa    Africa                Countrywide    NaN
1    Southern Asia      Asia                     Bengal    NaN
2  Central America  Americas  Quezaltenango, San Marcos    NaN
3  Central America  Americas                        NaN    NaN
4  Central America  Americas                        NaN    NaN

       Associated Dis Associated Dis2 OFDA Response Appeal Declaration  \
0              Famine             NaN           NaN     No          No
1                 NaN             NaN           NaN     No          No
2  Tsunami/Tidal wave             NaN           NaN    NaN         NaN
3                 NaN             NaN           NaN    NaN         NaN
4                 NaN             NaN           NaN    NaN         NaN

   Aid Contribution  Dis Mag Value Dis Mag Scale Latitude Longitude  \
0               NaN            NaN           Km2      NaN       NaN
1               NaN            NaN           Km2      NaN       NaN
2               NaN            8.0       Richter       14       -91
3               NaN            NaN           NaN      NaN       NaN
4               NaN            NaN           NaN      NaN       NaN

  Local Time River Basin  Start Year  Start Month  Start Day  End Year  \
0        NaN         NaN        1900          NaN        NaN      1900
1        NaN         NaN        1900          NaN        NaN      1900
2      20:20         NaN        1902          4.0       18.0      1902
3        NaN         NaN        1902          4.0        8.0      1902
4        NaN         NaN        1902         10.0       24.0      1902

   End Month  End Day  Total Deaths  No Injured  No Affected  No Homeless  \
0        NaN      NaN       11000.0         NaN          NaN          NaN
1        NaN      NaN     1250000.0         NaN          NaN          NaN
2        4.0     18.0        2000.0         NaN          NaN          NaN
3        4.0      8.0        1000.0         NaN          NaN          NaN
4       10.0     24.0        6000.0         NaN          NaN          NaN

   Total Affected  Insured Damages ('000 US$)  Total Damages ('000 US$)  \
0             NaN                         NaN                       NaN
1             NaN                         NaN                       NaN
2             NaN                         NaN                   25000.0
3             NaN                         NaN                       NaN
4             NaN                         NaN                       NaN

        CPI Adm Level Admin1 Code Admin2 Code Geo Locations
0  3.221647       NaN         NaN         NaN           NaN
1  3.221647       NaN         NaN         NaN           NaN
2  3.350513       NaN         NaN         NaN           NaN
3  3.350513       NaN         NaN         NaN           NaN
4  3.350513       NaN         NaN         NaN           NaN

In [12]:
# Supression des colonnes inutiles car elles ne vont pas nous servire dans notre etude
print("\n Suppression des colonnes administratives...")

# Colonnes à supprimer (peu utiles pour ML)
columns_to_drop = ['Seq', 'Glide', 'OFDA Response', 'Appeal', 'Declaration','Disaster Subsubtype'
                   'Aid Contribution','ISO',  'Associated Dis', 'Associated Dis2',
                   'Event Name', 'Origin','Location', 'Local Time', 'River Basin',
                   'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Dis Mag Scale', 'Geo Locations']

df_clean = df.drop(columns=[col for col in columns_to_drop if col in df.columns], errors='ignore')
print(f" Colonnes supprimées: {[col for col in columns_to_drop if col in df.columns]}")

 Suppression des colonnes administratives...
 Colonnes supprimées: ['Seq', 'Glide', 'OFDA Response', 'Appeal', 'Declaration', 'ISO', 'Associated Dis', 'Associated Dis2', 'Event Name', 'Origin', 'Location', 'Local Time', 'River Basin', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Dis Mag Scale', 'Geo Locations']

In [13]:
# selection des colonnes importantes
print("\n Sélection des colonnes pertinentes...")

columns_to_keep = [
    'Year', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
    'Disaster Subtype', 'Country', 'Region', 'Continent',
     'Latitude', 'Longitude',
    'Start Year', 'Start Month', 'Start Day',
    'End Year', 'End Month', 'End Day',
    'Dis Mag Value',
    'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
    'Total Affected', 'Total Damages (\'000 US$)', 'Insured Damages (\'000 US$)'
]

columns_to_keep = [col for col in columns_to_keep if col in df_clean.columns]
df_clean = df_clean[columns_to_keep].copy()

print(f"{len(columns_to_keep)} colonnes sélectionnées")

 Sélection des colonnes pertinentes...
24 colonnes sélectionnées

In [14]:
# nettoyage des valeurs manquantes

print("\n Nettoyage des valeurs manquantes...")

# Supprimer les lignes avec trop de valeurs manquantes (>50%)
df_clean = df_clean.dropna(thresh=len(df_clean.columns) * 0.5)

# Remplir les valeurs manquantes pour les colonnes d'impact par 0
impact_cols = ['Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
               'Total Affected', 'Total Damages (\'000 US$)', 'Insured Damages (\'000 US$)']

for col in impact_cols:
    if col in df_clean.columns:
        df_clean[col] = df_clean[col].fillna(0).clip(lower=0)

# Coordonnées: Nettoyer et convertir en numérique, puis remplir par la médiane du pays
if 'Latitude' in df_clean.columns:
    # Remove non-numeric characters and convert to float
    df_clean['Latitude'] = df_clean['Latitude'].astype(str).str.replace(r'[^\d.-]', '', regex=True)
    df_clean['Latitude'] = pd.to_numeric(df_clean['Latitude'], errors='coerce')
    df_clean['Latitude'] = df_clean.groupby('Country')['Latitude'].transform(
        lambda x: x.fillna(x.median() if not x.isnull().all() else np.nan)
    )
if 'Longitude' in df_clean.columns:
    # Remove non-numeric characters and convert to float
    df_clean['Longitude'] = df_clean['Longitude'].astype(str).str.replace(r'[^\d.-]', '', regex=True)
    df_clean['Longitude'] = pd.to_numeric(df_clean['Longitude'], errors='coerce')
    df_clean['Longitude'] = df_clean.groupby('Country')['Longitude'].transform(
        lambda x: x.fillna(x.median() if not x.isnull().all() else np.nan)
    )
if 'Latitude' in df_clean.columns: df_clean['Latitude'] = df_clean['Latitude'].fillna(df_clean['Latitude'].median())
if 'Longitude' in df_clean.columns: df_clean['Longitude'] = df_clean['Longitude'].fillna(df_clean['Longitude'].median())

print(f" Lignes restantes: {len(df_clean)}")

 Nettoyage des valeurs manquantes...

 Lignes restantes: 15818

In [15]:
print("\n Création des colonnes de dates...")

def create_date(row, date_type='start'):
    try:
        if date_type == 'start':
            year = row['Start Year'] if pd.notna(row['Start Year']) else row['End Year']
            month = row['Start Month'] if pd.notna(row['Start Month']) else 1
            day = row['Start Day'] if pd.notna(row['Start Day']) else 1
        else:
            year = row['End Year'] if pd.notna(row['End Year']) else row['Start Year']
            month = row['End Month'] if pd.notna(row['End Month']) else 12
            day = row['End Day'] if pd.notna(row['End Day']) else 31

        return pd.to_datetime(f"{int(year)}-{int(month)}-{int(day)}", errors='coerce')
    except:
        return pd.NaT

# Création des dates
df_clean['Start_Date'] = df_clean.apply(lambda row: create_date(row, 'start'), axis=1)
df_clean['End_Date']   = df_clean.apply(lambda row: create_date(row, 'end'), axis=1)

# Remplissage pour cohérence : si une date manque, on prend l'autre
df_clean.loc[df_clean['Start_Date'].isna(), 'Start_Date'] = \
    df_clean.loc[df_clean['Start_Date'].isna(), 'End_Date']

df_clean.loc[df_clean['End_Date'].isna(), 'End_Date'] = \
    df_clean.loc[df_clean['End_Date'].isna(), 'Start_Date']

# Durée en jours
df_clean['Duration_Days'] = (df_clean['End_Date'] - df_clean['Start_Date']).dt.days
df_clean['Duration_Days'] = df_clean['Duration_Days'].fillna(1).clip(lower=0)

print(" Dates et durée créées")

 Création des colonnes de dates...
 Dates et durée créées

In [16]:
#Création des features temporelles
print("\n Création des features temporelles...")

df_clean['Month'] = df_clean['Start_Date'].dt.month
df_clean['Season'] = df_clean['Month'].apply(lambda x:
    'Winter' if x in [12, 1, 2] else
    'Spring' if x in [3, 4, 5] else
    'Summer' if x in [6, 7, 8] else
    'Fall' if pd.notna(x) and x in [9, 10, 11] else 'Unknown'
)

print(" Features temporelles créées")

 Création des features temporelles...
 Features temporelles créées

In [17]:
# traitement des valeurs manquantes pour Dis Mag Value

if 'Dis Mag Value' in df_clean.columns:
    # Remplacer les valeurs manquantes par la médiane
    df_clean['Dis Mag Value'] = df_clean['Dis Mag Value'].fillna(df_clean['Dis Mag Value'].median())

In [18]:
print("\n Encodage des variables catégorielles...")

categorical_cols = [
    'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
    'Disaster Subtype', 'Country', 'Region', 'Continent',
    'Season', 'Magnitude_Category'
]

# Dictionnaire qui va stocker les légendes de toutes les colonnes
legendes = {}

for col in categorical_cols:
    if col in df_clean.columns:

        #  créer une liste des valeurs uniques
        valeurs_uniques = df_clean[col].astype(str).unique()

        #  créer le dictionnaire {valeur : numéro}
        mapping = {val: i for i, val in enumerate(valeurs_uniques)}

        #  enregistrer la légende
        legendes[col] = mapping

        #  remplacer dans le dataframe
        df_clean[col] = df_clean[col].astype(str).map(mapping)

print("Encodage terminé.\n")

#  Affichage de la légende
for col, mapping in legendes.items():
    print(f"\nLégende pour {col}:")
    for val, code in mapping.items():
        print(f"  {code} → {val}")

 Encodage des variables catégorielles...

Encodage terminé.


Légende pour Disaster Group:
  0 → Natural

Légende pour Disaster Subgroup:
  0 → Geophysical
  1 → Meteorological
  2 → Hydrological
  3 → Climatological
  4 → Biological
  5 → Extra-terrestrial

Légende pour Disaster Type:
  0 → Earthquake
  1 → Volcanic activity
  2 → Mass movement (dry)
  3 → Storm
  4 → Flood
  5 → Landslide
  6 → Wildfire
  7 → Epidemic
  8 → Drought
  9 → Extreme temperature
  10 → Fog
  11 → Insect infestation
  12 → Impact
  13 → Animal accident
  14 → Glacial lake outburst

Légende pour Disaster Subtype:
  0 → Ground movement
  1 → Ash fall
  2 → Rockfall
  3 → Tropical cyclone
  4 → nan
  5 → Landslide
  6 → Avalanche
  7 → Forest fire
  8 → Convective storm
  9 → Riverine flood
  10 → Viral disease
  11 → Drought
  12 → Mudslide
  13 → Tsunami
  14 → Heat wave
  15 → Land fire (Brush, Bush, Pasture)
  16 → Bacterial disease
  17 → Coastal flood
  18 → Cold wave
  19 → Flash flood
  20 → Parasitic disease
  21 → Locust
  22 → Severe winter conditions
  23 → Grasshopper
  24 → Subsidence
  25 → Extra-tropical storm
  26 → Lava flow
  27 → Pyroclastic flow

Légende pour Country:
  0 → Guatemala
  1 → Canada
  2 → Bangladesh
  3 → India
  4 → Chile
  5 → Colombia
  6 → Belgium
  7 → Hong Kong
  8 → China
  9 → France
  10 → Haiti
  11 → Costa Rica
  12 → Algeria
  13 → Indonesia
  14 → Anguilla
  15 → Germany Fed Rep
  16 → Ecuador
  17 → Bahamas (the)
  18 → Cuba
  19 → Egypt
  20 → Bulgaria
  21 → Guadeloupe
  22 → Greece
  23 → Dominica
  24 → Dominican Republic (the)
  25 → Belize
  26 → Fiji
  27 → Honduras
  28 → Ghana
  29 → Australia
  30 → Cook Islands (the)
  31 → Argentina
  32 → Azores Islands
  33 → Bermuda
  34 → Brazil
  35 → Antigua and Barbuda
  36 → Switzerland
  37 → Comoros (the)
  38 → Austria
  39 → United Kingdom of Great Britain and Northern Ireland (the)
  40 → Cyprus
  41 → Spain
  42 → Afghanistan
  43 → Netherlands Antilles
  44 → Barbados
  45 → Ethiopia
  46 → Albania
  47 → Guam
  48 → Grenada
  49 → Bolivia (Plurinational State of)
  50 → Botswana
  51 → American Samoa
  52 → Congo (the)
  53 → Gambia (the)
  54 → Benin
  55 → Burkina Faso
  56 → Côte d’Ivoire
  57 → Hungary
  58 → Cameroon
  59 → Guyana
  60 → Central African Republic
  61 → Czechoslovakia
  62 → Denmark
  63 → Djibouti
  64 → Burundi
  65 → Bahrain
  66 → United States of America (the)
  67 → Jamaica
  68 → Japan
  69 → Myanmar
  70 → Martinique
  71 → Soviet Union
  72 → Turkey
  73 → Italy
  74 → Philippines (the)
  75 → Taiwan (Province of China)
  76 → Romania
  77 → Iran (Islamic Republic of)
  78 → Morocco
  79 → Niger (the)
  80 → Peru
  81 → Tokelau
  82 → Puerto Rico
  83 → New Zealand
  84 → Pakistan
  85 → Jordan
  86 → Saint Kitts and Nevis
  87 → Montserrat
  88 → Poland
  89 → Mexico
  90 → Nicaragua
  91 → Solomon Islands
  92 → Trinidad and Tobago
  93 → El Salvador
  94 → Korea (the Republic of)
  95 → Papua New Guinea
  96 → New Caledonia
  97 → Sudan (the)
  98 → Tonga
  99 → Réunion
  100 → Netherlands (the)
  101 → Iraq
  102 → Nepal
  103 → Lebanon
  104 → Mozambique
  105 → Sri Lanka
  106 → Mongolia
  107 → Canary Is
  108 → Tunisia
  109 → French Polynesia
  110 → Niue
  111 → Saint Lucia
  112 → Mauritius
  113 → Somalia
  114 → Thailand
  115 → Libya
  116 → Paraguay
  117 → Kenya
  118 → Panama
  119 → Saudi Arabia
  120 → Tanzania, United Republic of
  121 → Mauritania
  122 → Malaysia
  123 → Senegal
  124 → Lao People's Democratic Republic (the)
  125 → Togo
  126 → Uganda
  127 → Malawi
  128 → Portugal
  129 → Syrian Arab Republic
  130 → Uruguay
  131 → Lesotho
  132 → Madagascar
  133 → Chad
  134 → Mali
  135 → Nigeria
  136 → Suriname
  137 → Israel
  138 → Kiribati
  139 → Tuvalu
  140 → Iceland
  141 → Rwanda
  142 → Sierra Leone
  143 → Sweden
  144 → Oman
  145 → Maldives
  146 → Saint Vincent and the Grenadines
  147 → Vanuatu
  148 → Yemen Arab Rep
  149 → Venezuela (Bolivarian Republic of)
  150 → South Africa
  151 → Viet Nam
  152 → Yugoslavia
  153 → Samoa
  154 → Wallis and Futuna
  155 → Congo (the Democratic Republic of the)
  156 → Zimbabwe
  157 → Zambia
  158 → Guinea-Bissau
  159 → Angola
  160 → Guinea
  161 → Cabo Verde
  162 → Bhutan
  163 → Germany Dem Rep
  164 → Micronesia (Federated States of)
  165 → Gabon
  166 → Liberia
  167 → Ireland
  168 → Luxembourg
  169 → Palestine, State of
  170 → Korea (the Democratic People's Republic of)
  171 → Namibia
  172 → Yemen P Dem Rep
  173 → Sao Tome and Principe
  174 → Swaziland
  175 → Turks and Caicos Islands (the)
  176 → Germany
  177 → Belarus
  178 → Finland
  179 → Norway
  180 → Georgia
  181 → Cambodia
  182 → Marshall Islands (the)
  183 → Kyrgyzstan
  184 → Lithuania
  185 → Russian Federation (the)
  186 → Eritrea
  187 → Macedonia (the former Yugoslav Republic of)
  188 → Kazakhstan
  189 → Macao
  190 → Virgin Island (U.S.)
  191 → Tajikistan
  192 → Yemen
  193 → Uzbekistan
  194 → Serbia Montenegro
  195 → Ukraine
  196 → Turkmenistan
  197 → Azerbaijan
  198 → Armenia
  199 → Brunei Darussalam
  200 → Moldova (the Republic of)
  201 → Czech Republic (the)
  202 → French Guiana
  203 → Croatia
  204 → Kuwait
  205 → Virgin Island (British)
  206 → Slovakia
  207 → Seychelles
  208 → Slovenia
  209 → Bosnia and Herzegovina
  210 → Latvia
  211 → Singapore
  212 → Cayman Islands (the)
  213 → Saint Helena, Ascension and Tristan da Cunha
  214 → Timor-Leste
  215 → Northern Mariana Islands (the)
  216 → Equatorial Guinea
  217 → Estonia
  218 → Montenegro
  219 → Serbia
  220 → South Sudan
  221 → Palau
  222 → United Arab Emirates (the)
  223 → Qatar
  224 → Saint Barthélemy
  225 → Saint Martin (French Part)
  226 → Sint Maarten (Dutch part)
  227 → Isle of Man

Légende pour Region:
  0 → Central America
  1 → Northern America
  2 → Southern Asia
  3 → South America
  4 → Western Europe
  5 → Eastern Asia
  6 → Caribbean
  7 → Northern Africa
  8 → South-Eastern Asia
  9 → Eastern Europe
  10 → Southern Europe
  11 → Melanesia
  12 → Western Africa
  13 → Australia and New Zealand
  14 → Polynesia
  15 → Eastern Africa
  16 → Northern Europe
  17 → Western Asia
  18 → Micronesia
  19 → Southern Africa
  20 → Middle Africa
  21 → Russian Federation
  22 → Central Asia

Légende pour Continent:
  0 → Americas
  1 → Asia
  2 → Europe
  3 → Africa
  4 → Oceania

Légende pour Season:
  0 → Spring
  1 → Fall
  2 → Summer
  3 → Winter
  4 → Unknown

In [19]:
# Supprimer les colonnes de dates individuelles (on garde Start_Date, End_Date)
cols_to_drop = ['Start Year', 'Start Month', 'Start Day',
                'End Year', 'End Month', 'End Day']
df_clean = df_clean.drop(columns=[col for col in cols_to_drop if col in df_clean.columns])

In [ ]:
# Sauvegarde du fichier nettoyé
print("\n Sauvegarde du fichier nettoyé...")

output_filename = 'DISASTERS_CLEANED.csv'
df_clean.to_csv(output_filename, index=False)

print(f" Fichier sauvegardé: {output_filename}")

 Sauvegarde du fichier nettoyé...
 Fichier sauvegardé: disasters_cleaned_2.csv

In [21]:
# Rapport final
print("\n" + "="*60)
print(" RAPPORT DE PRÉTRAITEMENT")
print("="*60)

print(f"\n Dataset original: {df.shape[0]} lignes, {df.shape[1]} colonnes")
print(f" Dataset nettoyé: {df_clean.shape[0]} lignes, {df_clean.shape[1]} colonnes")
print(f" Lignes supprimées: {df.shape[0] - df_clean.shape[0]}")

print("\n Nouvelles colonnes créées:")
new_cols = ['Start_Date', 'End_Date', 'Duration_Days', 'Month', 'Season']
for col in new_cols:
    if col in df_clean.columns:
        print(f"  ✓ {col}")



print("\n Top 5 pays les plus touchés:")
print(df_clean['Country'].value_counts().head(5))

print("\n Types de catastrophes:")
print(df_clean['Disaster Type'].value_counts().head(5))


print("PRÉTRAITEMENT TERMINÉ AVEC SUCCÈS!")

============================================================
 RAPPORT DE PRÉTRAITEMENT
============================================================

 Dataset original: 16126 lignes, 45 colonnes
 Dataset nettoyé: 15818 lignes, 23 colonnes
 Lignes supprimées: 308

 Nouvelles colonnes créées:
  ✓ Start_Date
  ✓ End_Date
  ✓ Duration_Days
  ✓ Month
  ✓ Season

 Top 5 pays les plus touchés:
Country
66    1070
8      968
3      740
74     667
13     565
Name: count, dtype: int64

 Types de catastrophes:
Disaster Type
4    5492
3    4472
0    1544
7    1478
5     762
Name: count, dtype: int64
PRÉTRAITEMENT TERMINÉ AVEC SUCCÈS!